heroes:
  0:
    name: Hero
    health:
      - 80
      - 100
    strength:
      - 70
      - 80
    defence:
      - 45
      - 55
    speed:
      - 40
      - 50
    luck:
      - 10
      - 30
    rapidStrike:
      10
    magicShield:
      20
  1:
    name: Orderus
    health:
      - 70
      - 100
    strength:
      - 70
      - 80
    defence:
      - 45
      - 55
    speed:
      - 40
      - 50
    luck:
      - 10
      - 30
    rapidStrike:
      10
    magicShield:
      20

opponents:
  0:
    name: Wild Beast
    health:
      - 60
      - 90
    strength:
      - 60
      - 90
    defence:
      - 40
      - 60
    speed:
      - 40
      - 60
    luck:
      - 25
      - 40
